.scrolling-container {
  padding: 10px;
  height: calc(100vh - 40px);
  overflow-x: hidden;
  app-avatar {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .add-new {
    background: #4dd44d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;

    &:hover {
      background: gray;
      cursor: pointer;
    }
  }
}
.scrolling-container::-webkit-scrollbar {
  width: 8px;
}

.scrolling-container::-webkit-scrollbar-thumb {
  background-color: #d0c9c9;
  border-radius: 4px;
}
