<ng-container *ngIf="isOpen$ | async">
  <div *ngIf="state" class="modal-container">
    <div class="modal-content">
      <h3>{{ state.title }}</h3>
      <div *ngIf="state.type === 'channel'" class="channel-types">
        <span class="title">CHANNEL TYPE</span>
        <div class="types">
          <div class="type" (click)="channelTypeText.click()" [class.active]="selectedChannelType === 'text'">
            <label for="radio-text">
              <div class="type-details-container">
                <app-icon name="text-channel"></app-icon>
                <div class="details">
                  <strong>Text</strong>
                  <span>Send messages,images,GIFs,emoji,opinions,and puns</span>
                </div>
              </div>
              <div class="radio"></div>
            </label>
            <div></div>
            <input #channelTypeText type="radio" name="channel-type" id="radio-text" value="text" [(ngModel)]="selectedChannelType" />
          </div>
          <div class="type" (click)="channelTypeAudio.click()" [class.active]="selectedChannelType === 'audio'">
            <label for="radio-audio">
              <div class="type-details-container">
                <app-icon name="audio-channel"></app-icon>
                <div class="details">
                  <strong>Audio</strong>
                  <span>Hang out together with voice,video,and screen share</span>
                </div>
              </div>
              <div class="radio"></div>
            </label>
            <div></div>
            <input #channelTypeAudio type="radio" name="channel-type" id="radio-audio" value="audio" [(ngModel)]="selectedChannelType" />
          </div>
        </div>
      </div>
      <strong>{{ state.type.toUpperCase() }} NAME</strong>
      <div class="input">
        <app-icon *ngIf="selectedChannelType === 'audio' && state.type === 'channel'" class="small" name="audio-channel"></app-icon>
        <app-icon *ngIf="selectedChannelType === 'text' && state.type === 'channel'" class="small" name="text-channel"></app-icon>
        <input
          #inputRef
          type="text"
          (keydown)="onTextInputChanged($event)"
          [(ngModel)]="state.textInput"
          [attr.placeholder]="state.placeholder"
        />
      </div>
      <div class="color-picker-wrapper" *ngIf="state.type === 'role'">
        <strong>ROLE COLOR</strong>
        <span class="role-description">Members use the color of the highest role they have on the roles list</span>
        <div class="color-picker">
          <div class="picked-color" [style.background-color]="colorPicked"></div>
          <div class="color-table">
            <div class="row">
              <div
                class="color-cell"
                *ngFor="let color of colors"
                [class.active]="colorPicked === color"
                (click)="pickTheColor(color)"
                [style.background-color]="color"
              >
                <app-icon name="check" class="color-white"></app-icon>
              </div>
            </div>
            <div class="row">
              <div
                class="color-cell"
                *ngFor="let color of colorsWithSmallOpacity"
                [class.active]="colorPicked === color"
                (click)="pickTheColor(color)"
                [style.background-color]="color"
              >
                <app-icon name="check" class="color-white"></app-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button *ngIf="state.onEditMode === true" class="delete-button" (click)="delete(state)">Delete</button>
        <div class="on-edit-mode">
          <button (click)="close()">Cancel</button>
          <button
            *ngIf="state.onEditMode === true"
            class="save-button"
            [disabled]="state.textInput.trim().length === 0"
            (click)="save(state)"
          >
            Save
          </button>
        </div>
        <ng-container *ngIf="state.onEditMode === false">
          <button class="create-button" [disabled]="state.textInput.trim().length === 0" (click)="create(state)">Create</button>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
