@import 'colors';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Cabin, sans-serif;
  background-image: url("../../../assets/images/discord-background-auth.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}
