@import 'colors';

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;

  .modal-content {
    width: 410px;
    padding: 20px;
    background: $discord-blue-color-040;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    color: $color-white;

    strong {
      font-size: 14px;
    }

    .buttons {
      display: flex;
      gap: 10px;
      justify-content: space-between;

      .on-edit-mode {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      .delete-button {
        background: $color-error-010;
        cursor: pointer;

        &:hover {
          color: $color-white;
          background: $color-error-010;
        }
      }

      .edit-cancel-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      button {
        padding: 12px;
        display: flex;
        align-items: center;
        color: #fff;
        background: transparent;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          color: $color-black;
          background: $color-white;
        }

        &.save-button , &.create-button {
          background: $color-blue-010;

          &:hover {
            color: $color-white;
            background: $color-blue-020;
          }
        }

        &:disabled {
          opacity: 20%;
          cursor: not-allowed;
        }
      }
    }

    .input {
      background: $discord-blue-color-050;
      border-radius: 4px;
      display: flex;
      align-items: center;

      input {
        border: none;
        background: transparent;
        outline: none;
        padding: 8px 0 8px 8px;
        color: $color-white;
        width: 100%;

        &::placeholder {
          color: grey;
          font-size: 14px;
        }
      }
    }

    .channel-types {
      .title {
        font-size: 12px;
        color: $color-grey;
        font-weight: bold;
      }

      .types {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        gap: 8px;

        .type {
          display: flex;
          align-items: center;
          padding: 8px 16px;
          border-radius: 5px;
          justify-content: space-between;

          .type-details-container {
            display: flex;
            gap: 16px;
            align-items: center;

            .details {
              display: flex;
              flex-direction: column;
              gap: 8px;

              span {
                font-size: 14px;
                color: $color-grey;
                flex: 1;
              }
            }
          }

          input[type='radio'] {
            width: 16px;
            height: 16px;
            visibility: hidden;
          }

          .radio {
            width: 16px;
            height: 16px;
            border: 1px solid $color-grey;
            border-radius: 50%;
            cursor: pointer;
          }

          &.active {
            background: rgba(250, 250, 250, 0.2) !important;

            .radio {
              position: relative;

              &:before {
                content: '';
                width: 10px;
                height: 10px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $color-grey;
                border-radius: 50%;
                position: absolute;
              }
            }
          }

          &:hover {
            background: rgba(250, 250, 250, 0.1);
            cursor: pointer;
          }
        }
      }
    }
  }
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
