<div class="scrolling-container server">
  <div class="server-without-logged-user" *ngIf="currentServer as server">
    <div class="server-name" *ngIf="server.title !== ''">
      <strong class="server-name--text ellipsis" [tooltip]="server.title" tooltipPosition="right">{{ server.title }}</strong>
      <div>
        <app-icon
          [dropdownTrigger]="dropDownServer"
          (isOpen)="serverDropDownStateChanged($event)"
          name="three-dots"
          class="color-white"
          [class.visible]="isDropServerDownOpen"
        ></app-icon>
        <app-drop-down #dropDownServer>
          <div class="drop-down-option" (click)="openCategoryModal()">
            <app-icon name="add-message"></app-icon>
            <span>Create category</span>
          </div>
          <div class="drop-down-option" (click)="openRoleModal(server)">
            <app-icon name="add-message"></app-icon>
            <span>Create role</span>
          </div>
          <div class="drop-down-option" (click)="openEditServerModal(server)">
            <app-icon name="pen"></app-icon>
            <span>Edit server</span>
          </div>
          <div class="drop-down-option exit" (click)="leaveServer(server)">
            <app-icon name="exit" class="color-error"></app-icon>
            <span>Leave server</span>
          </div>
        </app-drop-down>
      </div>
    </div>
    <ng-container *ngFor="let category of server.categories; trackBy: trackByFn">
      <div class="server-category">
        <strong class="server-category--text ellipsis" [tooltip]="category.title" tooltipPosition="right">{{ category.title }}</strong>
        <div>
          <app-icon
            name="three-dots"
            class="color-white"
            [class.visible]="isDropCategoryDownOpen && category.id === currentCategoryId"
            [dropdownTrigger]="dropDownCategory"
            (isOpen)="categoryDropDownStateChanged($event, category)"
          ></app-icon>
          <app-drop-down #dropDownCategory>
            <div class="drop-down-option" (click)="openCreateChannelModal(category)">
              <app-icon name="add-message"></app-icon>
              <span>Create channel</span>
            </div>
            <div class="drop-down-option" (click)="openEditCategoryModal(category)">
              <app-icon name="pen"></app-icon>
              <span>Edit category</span>
            </div>
          </app-drop-down>
        </div>
      </div>
      <div
        class="server-channel"
        (click)="joinChannel(channel, category, server)"
        *ngFor="let channel of category.channels; trackBy: trackByFn"
      >
        <div class="channel-container ellipsis" [class.active]="loggedUser?.textChannelId === channel.id">
          <div class="channel-details ellipsis">
            <div class="channel ellipsis" *ngIf="channel.type === ChannelTypeEnum.audio">
              <div class="audio-channel ellipsis" [class.active]="loggedUser?.audioChannelId === channel.id">
                <app-icon class="channel-color" name="audio-channel"></app-icon>
                <span class="ellipsis">
                  {{ channel.title }}
                </span>
              </div>
            </div>
            <div class="text-channel" *ngIf="channel.type === ChannelTypeEnum.text">
              <app-icon class="channel-color" name="text-channel"></app-icon>
              <span class="text-channel--text ellipsis" [tooltip]="channel.title" tooltipPosition="right">
                {{ channel.title }}
              </span>
            </div>
            <div class="edit">
              <app-icon name="pen" (click)="openEditChannelModal(category, channel)"></app-icon>
            </div>
          </div>
          <ng-container *ngIf="loggedUser">
            <div class="joined-user" *ngIf="loggedUser.audioChannelId === channel.id">
              <app-avatar [bgColor]="loggedUser.bgColor" icon="logo" dimension="very-small"></app-avatar>
              <span>{{ loggedUser.username }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="loggedUser" class="logged-user">
  <div
    class="logged-user-name"
    (click)="openLoggedUserSettingsModal()"
    [dropdownTrigger]="userLoggedDropDown"
    [customPosition]="loggedUserDropdownPosition"
  >
    <app-avatar [bgColor]="loggedUser.bgColor" icon="logo" status="online" dimension="small"></app-avatar>
    <div class="names">
      <strong class="ellipsis">{{ loggedUser.username }}</strong>
      <span class="ellipsis" *ngIf="!loggedUser.fullName">{{ loggedUser.username }}</span>
      <span class="ellipsis">{{ loggedUser.fullName }}</span>
    </div>
  </div>
  <app-icon *ngIf="loggedUser.audioChannelId !== ''" (click)="disconnectFromTheChannel()" name="phone-missed" class="disconnect"></app-icon>
</div>

<app-drop-down #userLoggedDropDown>
  <app-logged-user-settings></app-logged-user-settings>
</app-drop-down>
