<div class="scrolling-container">
  <div class="users" *ngFor="let category of categoriesAndUsers; trackBy: trackByFn">
    <div class="category">
      <span class="category-name">{{ category.categoryName | titlecase }}</span>
      <span> - </span>
      <span class="number-of-users">{{ category.users.length }}</span>
    </div>
    <div class="user" [class.offline]="user.status === 'offline'" *ngFor="let user of category.users; trackBy: trackByFn">
      <app-avatar dimension="small" [bgColor]="user.bgColor" [icon]="'logo'" [status]="user.status" [hideTooltip]="true"></app-avatar>
      <div class="user-details">
        <span class="name" [dropdownTrigger]="dropDownRoles">{{ user.username }}</span>
        <app-drop-down #dropDownRoles>
          <div class="drop-down-option role" *ngFor="let role of currentServer.roles">
            <div class="role-wrapper">
              <div class="color" [style.background-color]="role.color"></div>
              <span>{{ role.name }}</span>
            </div>
            <div class="checkbox"><app-icon name="check" class="color-white"></app-icon></div>
          </div>
        </app-drop-down>
      </div>
    </div>
  </div>
</div>
