<div class="scrolling-container">
  <div class="users" *ngFor="let categoryUser of categoryOfUsers; trackBy: trackByFn">
    <div class="category">
      <span class="category-name">{{ categoryUser.categoryName }}</span>
      <span> - </span>
      <span class="number-of-users">{{ categoryUser.users.length }}</span>
    </div>
    <div class="user" *ngFor="let user of categoryUser.users; trackBy: trackByFn">
      <app-avatar
        dimension="small"
        [bgImage]="user.avatar"
        [title]="user.name"
        [bgColor]="user.userBgColor"
        [status]="user.status"
        [icon]="'logo'"
        [hideTooltip]="true"
      ></app-avatar>
      <div class="user-details">
        <span class="name">{{ user.name }}</span>
        <span class="activity">{{ user.activity }}</span>
      </div>
    </div>
  </div>
</div>
