@import '../../../../shared/scss/colors';

.scrolling-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 254px;
  height: calc(100vh - 32px);
  padding: 16px;
  overflow-x: hidden;
  color: $color-white;
  background: $discord-blue-color-010;

  .users {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .category {
      display: flex;
      gap: 4px;
      align-items: center;
      color: $color-grey-010;

      &-name {
        font-size: 14px;
      }

      .number-of-users {
        font-size: 12px;
      }
    }

    .user {
      display: flex;
      gap: 10px;
      align-items: center;

      &-details {
        display: flex;
        flex-direction: column;

        .activity {
          font-size: 10px;
          color: $color-grey;
        }
      }
    }
  }
}

.scrolling-container::-webkit-scrollbar {
  width: 4px;
}

.scrolling-container::-webkit-scrollbar-thumb {
  background-color: $color-black;
  border-radius: 4px;
}
