<div class="container">
  <h1>Create an account</h1>
  <div [class.visible]="usernameTakenError" class="user-already-exist">This user already exist !</div>
  <div *ngIf="userCreated" class="user-created">User created !</div>
  <div [class.visible]="registerErrorNameAndPassword" class="error">Username , Password is mandatory !</div>
  <div class="email">
    <span>EMAIL<strong class="mandatory-sign">*</strong></span>
    <input [(ngModel)]="email" (input)="clearError()" type="text" />
  </div>
  <div class="name">
    <span>DISPLAY NAME</span>
    <input [(ngModel)]="fullName" (input)="clearError()" type="text" />
  </div>
  <div class="username" [class.error-visible]="registerErrorUsername">
    <span>USERNAME <strong class="mandatory-sign">*</strong></span>
    <input [(ngModel)]="username" (input)="clearError()" type="text" />
  </div>
  <div [class.visible]="registerErrorUsername" class="error">Username is mandatory !</div>
  <div class="password" [class.error-visible]="registerErrorPassword">
    <span>PASSWORD <strong class="mandatory-sign">*</strong></span>
    <input [(ngModel)]="password" (input)="clearError()" type="password" />
  </div>
  <div [class.visible]="registerErrorPassword" class="error">Password is mandatory !</div>

  <div class="date-of-birth">
    <span>BIRTH DATE<strong class="mandatory-sign">*</strong></span>
    <div class="selects">
      <div class="month">
        <app-drop-down #monthDropDown>
          <div (click)="assignMonth(month)" class="drop-down-option birth-date-option" *ngFor="let month of months">{{ month }}</div>
        </app-drop-down>
        <div class="trigger" [dropdownTrigger]="monthDropDown" [customPosition]="dropDownPosition">
          <span>{{ month }}</span>
          <app-icon name="arrow-down"></app-icon>
        </div>
      </div>
      <div class="day">
        <app-drop-down #dayDropDown>
          <div (click)="assignDay(day)" class="drop-down-option birth-date-option" *ngFor="let day of days">{{ day }}</div>
        </app-drop-down>
        <div class="trigger" [dropdownTrigger]="dayDropDown" [customPosition]="dropDownPosition">
          <span>{{ day }}</span>
          <app-icon name="arrow-down"></app-icon>
        </div>
      </div>
      <div class="year">
        <app-drop-down #yearDropDown>
          <div (click)="assignYear(year)" class="drop-down-option birth-date-option" *ngFor="let year of years">{{ year }}</div>
        </app-drop-down>
        <div class="trigger" [dropdownTrigger]="yearDropDown" [customPosition]="dropDownPosition">
          <span>{{ year }}</span>
          <app-icon name="arrow-down"></app-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button (click)="register()">Continue</button>
    <span class="already-have-account" (click)="navigateToLogin()">Already have an account?</span>
  </div>
</div>
