<div class="scrolling-container">
  <div>
    <ng-container *ngFor="let server of servers$ | async; trackBy: trackByFn">
      <app-avatar
        (click)="onServerDetails(server.id)"
        [title]="server.title"
        [isActive]="server.isActive"
        [bgColor]="server.serverBgColor"
        [squareOnHover]="true"
      ></app-avatar>
    </ng-container>
    <div class="side-bar-action" (mouseenter)="onHoverCreateServer()" (mouseleave)="onEndHoverCreateServer()" (click)="openModalServer()">
      <app-icon [class.color-white]="isHoveredCreateServer" name="plus" class="small color-green"></app-icon>
    </div>
  </div>
  <div class="side-bar-action exit" (mouseenter)="onHoverExit()" (mouseleave)="onEndHoverExit()" (click)="logout()">
    <app-icon [class.color-white]="isHoveredExit" name="exit" class="small color-error"></app-icon>
  </div>
</div>
