<div class="scrolling-container">
  <div>
    <app-avatar
      (click)="onSearchServer()"
      [hover]="'fillBackground'"
      [icon]="'search'"
      [fillHoverColor]="'color-green'"
      [bgColor]="'#36373c'"
    ></app-avatar>
    <ng-container *ngFor="let server of servers$ | async; trackBy: trackByFn">
      <app-avatar
        (click)="onServerDetails(server.id)"
        [title]="server.title"
        [isActive]="server.isActive"
        [bgColor]="server.serverBgColor"
        [hover]="'square'"
      ></app-avatar>
    </ng-container>
    <app-avatar
      (click)="openModalServer()"
      class="fill-green"
      [hover]="'fillBackground'"
      [icon]="'plus'"
      [bgColor]="'#36373c'"
    ></app-avatar>
  </div>
  <app-avatar (click)="logout()" class="fill-red" [hover]="'fillBackground'" [icon]="'exit'" [bgColor]="'#36373c'"></app-avatar>
</div>
