<app-side-bar></app-side-bar>
<app-server-details></app-server-details>
<div class="search-servers">
  <strong>Search servers ! </strong>
  <div class="search">
    <input [(ngModel)]="serverName" type="text" placeholder="Search server" />
  </div>
  <div class="servers">
    <ng-container *ngFor="let server of servers$ | async">
      <div class="server" *ngIf="server.title | includesServerName: serverName">
        <div class="avatar-name">
          <app-avatar [hover]="'square'" [bgColor]="server.serverBgColor" [title]="server.title"></app-avatar>
          <div class="name">{{ server.title }}</div>
        </div>
        <div (click)="joinServer(server)" *ngIf="!(loggedUserServers$ | async | includesServer: server)" class="join">join</div>
      </div>
    </ng-container>
  </div>
</div>
