<app-server-details></app-server-details>
<div class="search-servers">
  <div class="top">
    <strong>Search servers ! </strong>
    <div class="search">
      <input [(ngModel)]="serverName" (input)="includesServerName()" type="text" placeholder="Search server" />
      <app-icon *ngIf="serverName" (click)="clearInput()" name="close-solid" class="big"></app-icon>
    </div>
  </div>
  <div class="servers">
    <ng-container *ngFor="let server of servers">
      <div class="server" *ngIf="server.title | includesServerName: serverName">
        <div class="avatar-name">
          <app-avatar [hover]="'square'" [bgColor]="server.serverBgColor" [title]="server.title"></app-avatar>
          <div class="name ellipsis">{{ server.title }}</div>
        </div>
        <div (click)="joinServer(server)" *ngIf="!(loggedUserServers | includesServer: server)" class="join">join</div>
      </div>
    </ng-container>
    <h1 *ngIf="serverFound === false">No results</h1>
  </div>
</div>
