@import 'colors';

:host {
  color: $color-white;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
}

.names {
  display: flex;
  flex-direction: column;

  strong {
    font-size: 14px;
  }

  span {
    font-size: 12px;
    color: $color-grey;
  }
}
