.scrolling-container {
  height: calc(100vh - 48px);
  width: 240px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  background: #2f3136;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d0c9c9;
    border-radius: 4px;
  }
}

.server {
  display: flex;
  flex-direction: column;
  color: #fff;

  .add {
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
    color: #fff;
  }

  i {
    visibility: hidden;
    color: grey;
    cursor: pointer;
  }

  &-name {
    display: flex;
    gap: 16px;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.735px;

    strong {
      flex: 1;
      font-size: 24px;
      display: block;
    }

    &:hover {
      i {
        visibility: visible;
      }
    }
  }

  &-category {
    display: flex;
    gap: 16px;

    strong {
      flex: 1;
      font-size: 16px;
      display: block;
    }

    &:hover {
      i {
        visibility: visible;
      }
    }
  }

  &-channel {
    display: flex;
    gap: 16px;
    margin-left: 12px;
    font-weight: 700;
    line-height: 115.9%;
    letter-spacing: -0.085px;
    color: #b9bbbe;

    span {
      flex: 1;

      display: block;
    }

    &:hover {
      i {
        visibility: visible;
      }
    }
  }
}
