<div
  class="avatar , {{ status }} , {{ dimension }}"
  [class.active]="isActive === true"
  [class.square-on-hover]="hover === 'square'"
  [style.background-color]="bgColor"
  [class.fill-bg]="hover === 'fillBackground'"
>
  <span *ngIf="hover === 'square'"> {{ title | avatarInitials }} </span>
  <ng-container *ngIf="bgImage; else logo">
    <img src="{{ bgImage }}" alt="" />
  </ng-container>
  <ng-template #logo>
    <app-icon *ngIf="hover === 'fillBackground' || !hover" class="color-white {{ dimension }}" [name]="icon"></app-icon>
  </ng-template>
</div>
