@import 'colors';

:host {
  display: flex;
  gap: 10px;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 16px;
    color: $color-white;
    position: relative;

    &.small {
      width: 32px;
      height: 32px;
    }

    &.bg-image {
      background-color: transparent !important;
    }

    &.square-on-hover {
      &:hover {
        cursor: pointer;
        border-radius: 30%;
      }
    }

    &.fill-bg {
      &:hover {
        cursor: pointer;
        border-radius: 20px;
      }
    }

    &.fill-green {
      &:hover {
        background: $color-green !important;
      }
    }

    &.fill-red {
      &:hover {
        background: $color-error !important;
      }
    }

    &.active {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -8px;
        display: flex;
        width: 4px;
        height: 40px;
        background: $color-white;
        border-radius: 0 2px 2px 0;
        border: none;
        bottom: 2px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: transparent;
      bottom: 0;
      right: 0;
    }

    &.online {
      &:before {
        border: 3px solid $discord-blue-color-010;
        background: $color-green;
      }
    }

    &.offline {
      &:before {
        border: 3px solid $discord-blue-color-010;
        background: $color-grey;
      }
    }

    &.idle {
      &:before {
        border: 3px solid $discord-blue-color-010;
        background: $color-idle;
      }
    }

    &.do-not-disturb {
      &:before {
        border: 3px solid $discord-blue-color-010;
        background: $color-error;
      }
    }

    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }
}
