@import 'src/app/scss/colors';

:host {
  background: $discord-blue-color-010;
  width: 254px;
  height: 100vh;
  color: $color-white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .users {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $color-white;

      .category {
        font-size: 14px;
        color: $color-grey-010;
      }
    }
  }
}
