$color-warning: #d0a866;
$color-error: #ff5253;
$color-error-010: #d20a0a;
$color-info: #37d69e;
$color-blue: #5865f2;
$color-blue-010: #02437d;
$color-blue-020: #033a6c;
$color-blue-030: #66f;
$color-light-blue: #08a7fc;
$color-white: #fff;
$color-grey: #dcd8d8;
$color-grey-010: #efefef;
$color-grey-020: #949ba4;
$color-green: #3ba55d;
$color-idle: #efef10;

$discord-blue-color-010: #2a2d31;
$discord-blue-color-020: #1e1f22;
$discord-blue-color-030: #303338;
$discord-blue-color-040: #202225;
$discord-blue-color-050: #292b2f;
$discord-blue-color-060: #232428;
$discord-blue-color-light: #36373c;
$discord-super-dark: #111113;

$color-black: #000;
