@import '../../../../shared/scss/colors';

:host {
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 1;
}

.container {
  position: relative;
  width: 400px;
  height: 500px;
  color: $color-white;
  background: $discord-blue-color-030;
  border-radius: 15px;

  .top {
    .edit,
    .sign {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      background: $discord-blue-color-020;

      app-icon {
        padding: 24px;
        cursor: pointer;
      }
    }

    .sign {
      background: $discord-blue-color-030;

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        padding: 2px;
        margin-top: 20px;
        margin-right: 20px;
        background: $discord-blue-color-020;
        border-radius: 15px;

        app-icon {
          padding: 2px;
          background: $color-info;
          border-radius: 50%;
        }
      }
    }
  }

  app-avatar {
    position: absolute;
    top: 22px;
    left: 22px;
  }

  .logged-user-data-container {
    padding: 12px;
    background: $discord-blue-color-030;

    .logged-user-data {
      display: flex;
      flex-direction: column;
      padding: 24px 12px;
      background: $discord-blue-color-020;
      border-radius: 15px;

      .full-name,
      .member-since {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        border-bottom: 1px solid $discord-blue-color-light;
      }

      .member-since {
        gap: 5px;
        margin-top: 20px;

        span {
          font-size: 16px;
          color: $color-grey;
        }
      }

      .status {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: 1px solid $discord-blue-color-light;

        .status-dot {
          width: 12px;
          height: 12px;
          background: #3ba55d;
          border-radius: 50%;
        }

        .status-type {
          display: flex;
          gap: 30px;
          align-items: center;
        }

        .normal-status {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .custom-status {
          display: flex;
          gap: 20px;
          align-items: center;
        }
      }

      .switch-account-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .switch-account {
          display: flex;
          gap: 20px;
          align-items: center;

          app-icon {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
