$color-warning: #d0a866;
$color-error: #ff5253;
$color-info: #37d0d6;
$color-white: #fff;
$color-grey: #dcd8d8;
$color-grey-010:#b9bbbe;
$color-green : #3ba55d;

$discord-blue-color-010:#2a2d31;
$discord-blue-color-020:#1e1f22;
$discord-blue-color-030:#303338;
$discord-blue-color-light:#36373c;
