@import 'colors';

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

app-icon {
  svg {
    width: 24px;
    height: 24px;
  }

  /* SIZES */

  &.small {
    svg {
      width: 16px;
      height: 16px;
    }

    gap: 12px;
  }

  &.big {
    svg {
      width: 32px;
      height: 32px;
    }

    gap: 32px;
  }

  &.xl {
    svg {
      width: 64px;
      height: 64px;
    }

    gap: 42px;
  }

  &.xxl {
    svg {
      width: 64px;
      height: 64px;
    }

    gap: 48px;
  }

  /* COLORS */

  &.color-warning {
    svg {
      path {
        fill: $color-warning;
      }
    }
  }

  &.color-green {
    svg {
      path {
        fill: $color-green !important;
        border: none;
      }
    }
  }

  &.color-error {
    svg {
      path {
        fill: $color-error !important;
      }
    }
  }

  &.color-info {
    svg {
      path {
        fill: $color-info;
      }
    }
  }

  &.color-white {
    svg {
      path {
        fill: $color-white;
      }
    }
  }

  &.color-grey {
    svg {
      path {
        fill: $color-grey;
      }
    }
  }
}
