<div class="scrolling-container server">
  <ng-container *ngIf="currentServer as server">
    <div class="server-name" *ngIf="server.title !== ''">
      <strong [tooltip]="server.title" position="bottom" class="ellipsis">{{ server.title }}</strong>
      <div>
        <app-icon name="add-message" (click)="openCategoryModal()"></app-icon>
        <app-icon name="pen" (click)="openEditServerModal(server)"></app-icon>
      </div>
    </div>
    <ng-container *ngFor="let category of server.categories">
      <div class="server-category">
        <strong [tooltip]="category.title" position="top" class="ellipsis">{{ category.title }}</strong>
        <div>
          <app-icon name="add-message" (click)="openCreateChannelModal(category)"></app-icon>
          <app-icon name="pen" (click)="openEditCategoryModal(category)"></app-icon>
        </div>
      </div>
      <div class="server-channel" *ngFor="let channel of category.channels">
        <div class="channel-container ellipsis">
          <app-icon *ngIf="channel.type === ChannelTypeEnum.audio" name="audio-channel"></app-icon>
          <app-icon *ngIf="channel.type === ChannelTypeEnum.text" name="text-channel"></app-icon>
          <span [tooltip]="channel.title" position="top" class="ellipsis">
            {{ channel.title }}
          </span>
        </div>
        <div class="edit">
          <app-icon name="pen" (click)="openEditChannelModal(category, channel)"></app-icon>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<div *ngIf="loggedUser" class="logged-user">
  <app-avatar [bgColor]="loggedUser.bgColor" status="online" dimension="small"></app-avatar>
  <div class="names">
    <strong>{{ loggedUser.username }}</strong>
    <span *ngIf="!loggedUser.fullName">{{ loggedUser.username }}</span>
    <span>{{ loggedUser.fullName }}</span>
  </div>
</div>
