<div class="scrolling-container server">
  <ng-container *ngIf="currentServer as server">
    <div class="server-name" *ngIf="server.title !== ''">
      <strong class="ellipsis">{{ server.title }}</strong>
      <div class="drop-down-trigger" [dropdownTrigger]="dropDownServer">
        <app-icon name="three-dots" class="color-white"></app-icon>
      </div>
      <app-drop-down #dropDownServer>
        <div class="drop-down-option" (click)="openCategoryModal()">
          <app-icon name="add-message"></app-icon>
          <span>Create</span>
        </div>
        <div class="drop-down-option" (click)="openEditServerModal(server)">
          <app-icon name="pen"></app-icon>
          <span>Edit</span>
        </div>
        <div class="drop-down-option" (click)="leaveServer(server)">
          <app-icon name="exit"></app-icon>
          <span>Exit</span>
        </div>
      </app-drop-down>
    </div>
    <ng-container *ngFor="let category of server.categories; trackBy: trackByFn">
      <div class="server-category">
        <strong class="ellipsis">{{ category.title }}</strong>
        <div class="drop-down-trigger" [dropdownTrigger]="dropDownCategory">
          <app-icon name="three-dots" class="color-white"></app-icon>
        </div>
        <app-drop-down #dropDownCategory>
          <div class="drop-down-option" (click)="openCreateChannelModal(category)">
            <app-icon name="add-message"></app-icon>
            <span>Create</span>
          </div>
          <div class="drop-down-option" (click)="openEditCategoryModal(category)">
            <app-icon name="pen"></app-icon>
            <span>Edit</span>
          </div>
        </app-drop-down>
      </div>
      <div
        class="server-channel"
        (click)="joinChannel(channel, category, server)"
        *ngFor="let channel of category.channels; trackBy: trackByFn"
      >
        <div class="channel-container ellipsis">
          <div class="channel ellipsis" *ngIf="channel.type === ChannelTypeEnum.audio">
            <div class="audio-channel ellipsis">
              <app-icon name="audio-channel"></app-icon>
              <span class="ellipsis">
                {{ channel.title }}
              </span>
            </div>
            <ng-container *ngIf="loggedUser?.connectedToServer as serverConnection">
              <div
                class="joined-user"
                *ngIf="
                  loggedUser &&
                  serverConnection.serverId === server.id &&
                  serverConnection.channelId === channel.id &&
                  serverConnection.categoryId === category.id
                "
              >
                <app-avatar [bgColor]="loggedUser.bgColor" icon="logo" dimension="very-small"></app-avatar>
                <span>{{ loggedUser.username }}</span>
              </div>
            </ng-container>
          </div>
          <div class="text-channel ellipsis" *ngIf="channel.type === ChannelTypeEnum.text">
            <app-icon name="text-channel"></app-icon>
            <span class="ellipsis">
              {{ channel.title }}
            </span>
          </div>
        </div>
        <div class="edit">
          <app-icon name="pen" (click)="openEditChannelModal(category, channel)"></app-icon>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<div *ngIf="loggedUser" class="logged-user" (click)="openLoggedUserSettingsModal()">
  <app-avatar [bgColor]="loggedUser.bgColor" icon="logo" status="online" dimension="small"></app-avatar>
  <div class="names">
    <strong>{{ loggedUser.username }}</strong>
    <span *ngIf="!loggedUser.fullName">{{ loggedUser.username }}</span>
    <span>{{ loggedUser.fullName }}</span>
  </div>
</div>
