@import 'colors';

$logged-user-container: 66px;

:host {
  background: $discord-blue-color-010;
}

.scrolling-container {
  height: calc(100vh - #{$logged-user-container});
  width: 240px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;


  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-grey;
    border-radius: 4px;
  }
}

.server {
  display: flex;
  flex-direction: column;
  color: $color-white;

  app-icon {
    visibility: hidden;
  }

  &-name {
    display: flex;
    gap: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    letter-spacing: -0.735px;

    strong {
      flex: 1;
      font-size: 24px;
      display: block;
      padding-top: 14px;
    }

    app-icon {
      padding-top: 14px;
    }

    &:hover {
      font-weight: bold;
      background: $discord-blue-color-light;

      app-icon {
        visibility: visible;
        cursor: pointer;
      }
    }
  }

  &-category {
    display: flex;
    align-items: center;
    gap: 16px;
    color: $color-grey-010;

    strong {
      flex: 1;
      font-size: 14px;
      display: block;
    }

    &:hover {
      color: $color-white;
      font-weight: bold;

      app-icon {
        visibility: visible;
        cursor: pointer;
      }
    }
  }

  &-channel {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    font-weight: 700;
    line-height: 115.9%;
    letter-spacing: -0.085px;
    color: $color-grey-010;
    font-size: 18px;

    span {
      flex: 1;

      display: block;
    }

    &:hover {
      background: $discord-blue-color-light;

      .edit {
        app-icon {
          visibility: visible;
          cursor: pointer;
        }
      }
    }

    .channel-container {
      app-icon {
        visibility: visible;
      }
    }
  }
}

.server {
  &-name,
  &-category,
  &-channel {
    padding: 12px;
  }

  div {
    display: flex;
    gap: 10px;
    align-items: center;
  }

}

.logged-user {
  color: $color-white;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  background: $discord-blue-color-060;

  .names {
    display: flex;
    flex-direction: column;

    strong {
      font-size: 14px;
    }

    span {
      font-size: 12px;
      color: $color-grey;
    }
  }
  &:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.2);
  }
}

.scrolling-container::-webkit-scrollbar {
  width: 4px;
}

.scrolling-container::-webkit-scrollbar-thumb {
  background-color: $color-black;
  border-radius: 4px;
}
