@import 'colors';

$logged-user-container: 66px;

:host {
  background: $discord-blue-color-010;
}

.scrolling-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: calc(100vh - #{$logged-user-container});
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-grey;
    border-radius: 4px;
  }
}

.server {
  display: flex;
  flex-direction: column;
  color: $color-white;

  app-icon {
    visibility: hidden;
  }

  &-name,
  &-category {
    padding: 12px;
  }

  &-name {
    display: flex;
    gap: 16px;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.735px;

    strong {
      display: block;
      flex: 1;
      padding-top: 14px;
      font-size: 24px;
    }

    app-icon {
      padding-top: 14px;
    }

    &:hover {
      font-weight: bold;
      background: $discord-blue-color-light;

      app-icon {
        cursor: pointer;
        visibility: visible;
      }
    }
  }

  &-category {
    display: flex;
    gap: 16px;
    align-items: center;
    color: $color-grey-010;

    strong {
      display: block;
      flex: 1;
      font-size: 14px;
    }

    &:hover {
      font-weight: bold;
      color: $color-white;

      app-icon {
        cursor: pointer;
        visibility: visible;
      }
    }
  }

  &-channel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 115.9%;
    color: #949ba4;
    letter-spacing: -0.085px;
    cursor: pointer;

    span {
      display: block;
      flex: 1;
    }

    .channel-container {
      display: flex;
      align-items: center;
      width: calc(100% - 16px);
      padding: 4px;

      .channel-details {
        display: flex;
        align-items: center;
        width: 100%;

        app-icon {
          visibility: visible;
        }

        .channel {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        .text-channel {
          display: flex;
          overflow: hidden;
        }

        .audio-channel {
          &.active {
            font-weight: 600;
            color: $color-white;
          }
        }

        .text-channel,
        .audio-channel {
          display: flex;
          gap: 6px;
          align-items: center;
          width: 100%;
        }
      }

      &:hover {
        color: $color-grey;
        background: $discord-blue-color-light;
      }

      &.active {
        font-weight: 600;
        color: $color-white;
        background: rgb(148 155 164 / 20%);
      }
    }

    &:hover {
      .edit {
        app-icon {
          cursor: pointer;
          visibility: visible;
        }
      }
    }
  }
}

.joined-user {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  margin-top: 6px;
  margin-left: 28px;
  font-size: 14px;
  color: $color-grey;
  border-radius: 8px;

  &:hover {
    background: rgb(148 155 164 / 20%);
  }
}

.logged-user {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px;
  color: $color-white;
  background: $discord-blue-color-060;

  .logged-user-name {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;

    .names {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 14px;
      }

      span {
        font-size: 12px;
        color: $color-grey;
      }
    }
  }

  &:hover {
    cursor: pointer;
    background: rgb(255 255 255 / 20%);
  }
}

.drop-down-trigger {
  cursor: pointer;
}
