@import 'src/app/scss/colors';

:host {
  display: flex;
  gap: 10px;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 16px;
    color: $color-white;

    &:hover {
      cursor: pointer;
      border-radius: 30%;
    }

    &.active {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: -8px;
        display: flex;
        width: 4px;
        height: 40px;
        background: $color-white;
        border-radius: 0px 2px 2px 0px;
      }
    }
  }
}
