@import '../../scss/colors';

:host {
  width: 100%;
  height: 100vh;
  color: $color-white;
  background: $discord-blue-color-030;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .channel-title {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px 24px;
    background: $discord-blue-color-030;
    box-shadow: 0 1px 0 0 $discord-blue-color-020;

    span {
      font-weight: 600;
    }
  }

  .chat {
    display: flex;
    flex-direction: column;
    gap: 36px;
    overflow: auto;

    .welcome {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 24px;

      app-icon {
        &.xxl {
          width: 64px;
          height: 64px;
          padding: 16px;
          background: $discord-blue-color-light;
          border-radius: 50%;
        }
      }

      span {
        color: $color-grey-020;
      }

      .edit-channel {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        span {
          color: $color-light-blue;
        }
      }
    }

    .messages {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .date-group {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          width: 210px;
          font-size: 12px;
          color: $color-grey-020;
          text-align: center;
        }

        .line {
          width: calc(100% - 24px);
          height: 1px;
          background: rgb(255 255 255 / 10%);
        }
      }

      .message {
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 12px 24px 0;

        .content {
          display: flex;
          flex-direction: column;
        }

        .data {
          font-size: 12px;
          color: $color-grey-020;
        }

        .name-and-data {
          display: flex;
          gap: 10px;
          align-items: center;
        }

        .stacked-message-container {
          display: flex;
          gap: 8px;
          align-items: center;

          .stacked-message-hour {
            font-size: 12px;
            color: $color-grey;
            visibility: hidden;

            span {
              padding: 4px 0;
            }
          }
        }

        &:hover {
          background: $discord-blue-color-010;

          .stacked-message-container {
            .stacked-message-hour {
              visibility: visible;
            }
          }
        }

        &.has-stacked-messages {
          padding-top: 0;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-black;
      border-radius: 4px;
    }
  }

  .input-wrapper {
    padding: 0 24px 24px;

    input {
      width: calc(100% - 20px);
      padding: 10px;
      color: white;
      background: $discord-blue-color-light;
      border: none;
      border-radius: 5px;
      outline: none;

      &:focus {
        outline: none;
      }
    }
  }
}
