@import '../../scss/colors';

:host {
  width: 100%;
  height: 100vh;
  color: $color-white;
  background: $discord-blue-color-020;
}

.channel-title {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 24px;
  background: $discord-blue-color-030;
  box-shadow: 0 2px 0 0 black;

  span {
    font-weight: 600;
  }
}
