$background-color: black;
$foreground-color: #eee;
$arrow-size: 8px;
$vertical-shift: 12px;
$multiline-width: 240px;
$tooltip-padding: 6px 12px;
$roundness: 3px;
$shadow: 0;
$load-styles: true !default;

[data-tooltip] {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transition: opacity 0.35s ease 0.25s;
    transform: translate(-50%, -$vertical-shift);
  }

  // Tooltip Body
  &::before {
    bottom: 100%;
    z-index: 1000;
    padding: $tooltip-padding;
    font-size: 12px;
    color: $foreground-color;
    white-space: nowrap;
    content: attr(data-tooltip);
    background: $background-color;

    @if ($roundness != 0) {
      border-radius: $roundness;
    }
    @if ($shadow != 0) {
      box-shadow: $shadow;
    }
  }

  // Tooltip Arrow
  &::after {
    content: '';
    background: transparent;
    border: $arrow-size solid transparent;
    border-top-color: $background-color;
  }

  // Active state
  &:hover,
  &:focus,
  &:active {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  @if $load-styles == true {
    // Multi-line tooltip (.tooltip-multiline)
    &.tooltip-multiline {
      &::before {
        width: 100vw;
        max-width: $multiline-width;
        white-space: normal;
      }
    }

    // Bottom tooltip (.tooltip-bottom, *-left, *-right )
    &[class*='tooltip-bottom'] {
      &::before,
      &::after {
        transform: translate(-50%, $vertical-shift);
      }

      &::before {
        top: 100%;
        bottom: auto;
      }

      &::after {
        bottom: 0;
        border: $arrow-size solid transparent;
        border-bottom-color: $background-color;
      }
    }

    &.tooltip-bottom-left::before {
      transform: translate(-($arrow-size * 3), $vertical-shift);
    }

    &.tooltip-bottom-right::before {
      right: 50%;
      left: auto;
      transform: translate($arrow-size * 3, $vertical-shift);
    }

    // Top tooltip (.tooltip-top, *-left, *-right )
    &.tooltip-top-left::before {
      transform: translate(-($arrow-size * 3), -$vertical-shift);
    }

    &.tooltip-top-right::before {
      right: 50%;
      left: auto;
      transform: translate($arrow-size * 3, -$vertical-shift);
    }
  }
}
