.modal-server {
  width: 400px;
  padding: 20px;
  background: #202225;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#fff;

  .buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    .delete-button {
      &:hover {
        color: #fff;
        background: #d20a0a;
      }
    }
    .edit-cancel-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    button {
      padding: 12px;
      display: flex;
      align-items: center;
      color: #fff;
      background: transparent;
      border: none;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        color: #000;
        background: #fff;
      }

      &.edit-server {
        background: #02437d;

        &:hover {
          color: #fff;
          background: #033a6c;
        }
      }

      &:disabled {
        opacity: 20%;
        cursor: none;
      }
    }
  }

  input {
    border: none;
    background: #292b2f;
    width: 100%;
    border-radius: 4px;
    padding: 8px 0 8px 8px;
    color: #fff;

    &::placeholder {
      color: grey;
      font-size: 14px;
    }
  }
}
