<div class="scrolling-container">
  <div>
    <app-avatar
      *ngIf="sideBarActions['search'] as searchAction"
      (click)="onSearchServer()"
      [hover]="searchAction.hoverClass"
      [icon]="searchAction.icon"
      [fillHoverColor]="searchAction.fillHoverClass"
      [bgColor]="searchAction.bgColor"
      class="first-action"
      title="Search servers"
    ></app-avatar>
    <ng-container *ngFor="let server of servers$ | async; trackBy: trackByFn">
      <app-avatar
        (click)="onServerDetails(server.id)"
        [title]="server.title"
        [isActive]="server.isActive"
        [bgColor]="server.serverBgColor"
        hover="square"
      ></app-avatar>
    </ng-container>
    <app-avatar
      (click)="openModalServer()"
      class="fill-green"
      *ngIf="sideBarActions['addServer'] as addServer"
      [hover]="addServer.hoverClass"
      [icon]="addServer.icon"
      [bgColor]="addServer.bgColor"
      [fillHoverColor]="addServer.fillHoverClass"
      title="Add server"
    ></app-avatar>
  </div>
  <app-avatar
    (click)="logout()"
    class="fill-red"
    *ngIf="sideBarActions['logout'] as logoutAction"
    [hover]="logoutAction.hoverClass"
    [icon]="logoutAction.icon"
    [bgColor]="logoutAction.bgColor"
    [fillHoverColor]="logoutAction.fillHoverClass"
    title="Logout"
  >
  </app-avatar>
</div>
