:host {
  background: grey;
  width: 100%;
}

.selects {
  display: flex;
  gap: 12px;

  select {
    cursor: pointer;

    option {
      cursor: pointer;
    }
  }
}

.icons {
  width: 400px;
  flex-wrap: wrap;
  display: flex;
  gap: 22px;
  margin-top: 10px;
}
