@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
@import 'assets/fonts/css/discord.css';

// Components
@import './src/app/directives/tooltip/tooltip';
@import  './src/assets/scss/components/modal';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #373a3e;
  overflow-x: hidden;
  font-family: 'Cabin', sans-serif;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
